<div class="container">
  <h1 class="heading"><strong>Services </strong>Demo</h1>

  <button type="button" (click)="getPolicies()">View Policies</button>
  <hr>
    <!--ngStyle-->
   <div>Choose Theme Color:</div><input [(ngModel)]="color" /> 
   <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th [ngStyle]="{'color': color}">productID</th>
                      <th [ngStyle]="{'color': color}">productName</th>
                      <th [ngStyle]="{'color': color}">productprice</th>
                  </tr>
              </thead>
              <tbody>
                  <!--*ngFor Directive - Looping through the policies-->
                  <!--policies is the array holding all the polcies accessed from the PolicyService-->
                  <tr *ngFor="let policy of policies;">
                      <td>{{policy.productID}}</td>
                      <td>{{policy.productname}}</td>
                      <td>{{policy.productprice}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

</div>